<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="target/logUnicode.log" />
        <param name="MaxFileSize" value="1MB" />
        <param name="MaxBackupIndex" value="100" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
        </layout>
    </appender>

    <!--
        Suppress success logging from
        InteractiveAuthenticationSuccessEvent
    -->
    <logger name="com.luchoct.unicode">
        <level value="INFO" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
